HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/common/.gitattributes
/model/.gitattributes
/web/web-admin/.gitattributes
/web/web-app/.gitattributes
/web/.gitattributes
/common/.gitignore
/model/.gitignore
/web/web-admin/.gitignore
/web/web-app/.gitignore
/web/.gitignore
/common/.mvn/wrapper/maven-wrapper.properties
/model/.mvn/wrapper/maven-wrapper.properties
/web/.mvn/wrapper/maven-wrapper.properties
/web/web-admin/.mvn/wrapper/maven-wrapper.properties
/web/web-app/.mvn/wrapper/maven-wrapper.properties
/common/mvnw
/model/mvnw
/web/web-admin/mvnw
/web/web-app/mvnw
/web/mvnw
/common/mvnw.cmd
/model/mvnw.cmd
/web/web-admin/mvnw.cmd
/web/web-app/mvnw.cmd
/web/mvnw.cmd
