<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bighu.web.admin.mapper.FeeKeyMapper">
    <resultMap id="feeKeyVoMap" type="com.bighu.web.admin.vo.fee.FeeKeyVo" autoMapping="true">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <collection property="feeValueList" ofType="com.bighu.model.entity.FeeValue">
            <id property="id" column="fee_value_id"/>
            <result property="feeKeyId" column="fee_key_id"/>
            <result property="name" column="fee_value_name"/>
            <result property="unit" column="fee_value_unit"/>
        </collection>
    </resultMap>
    <select id="feeInfoList" resultMap="feeKeyVoMap">
        select
            fee_key.id as id,
            fee_key.name as name,
            fv.id as fee_value_id,
            fv.fee_key_id,
            fv.unit as fee_value_unit,
            fv.name as fee_value_name
        from fee_key
                 left join lease.fee_value fv on fee_key.id = fv.fee_key_id and fv.is_deleted = 0
        where fv.is_deleted = 0
    </select>
</mapper>
