<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bighu.web.admin.mapper.ViewAppointmentMapper">
        <resultMap id="AppointmentVoMap" type="com.bighu.web.admin.vo.appointment.AppointmentVo" autoMapping="true">
            <id property="id" column="id"/>
            <association property="apartmentInfo" javaType="com.bighu.model.entity.ApartmentInfo" autoMapping="true">
                <id property="id" column="apart_id"/>
                <result property="name" column="apart_name"></result>
                <result property="phone" column="apart_phone"></result>
            </association>
        </resultMap>
    <select id="getPage" resultMap="AppointmentVoMap">
        select va.id,
        va.user_id,
        va.name,
        va.phone,
        va.apartment_id,
        va.appointment_time,
        va.additional_info,
        va.appointment_status,
        ai.id as apart_id , ai.name as apart_name, ai.introduction, ai.district_id, ai.district_name, ai.city_id, ai.city_name, ai.province_id,
        ai.province_name, ai.address_detail, ai.latitude, ai.longitude, ai.phone as apart_phone, ai.is_release
        from view_appointment va
        left join apartment_info ai
        on ai.id=va.apartment_id and ai.is_deleted = 0
        <where> va.is_deleted = 0
        <if test="query.provinceId != null">
            and ai.province_id = #{query.provinceId}
        </if>
        <if test="query.cityId != null">
            and ai.city_id = #{query.cityId}
        </if>
        <if test="query.districtId != null">
            and ai.district_id = #{query.districtId}
        </if>
        <if test="query.apartmentId != null">
            and va.apartment_id = #{query.apartmentId}
        </if>
        <if test="query.name != null and query.name!=''">
            and va.name like concat('%',#{query.name},'%')
        </if>
        <if test="query.phone != null and query.phone!=''">
            and va.phone like concat('%',#{query.phone},'%')
        </if>
        </where>
    </select>
</mapper>
